.homepage-header {
  .top-header-image {
    position: relative;
    height: 170px;
    overflow: hidden;
    a {
      &:hover {
        .attribution {
          text-decoration: underline;
        }
      }
      position: relative;
    }
    .attribution {
      position: absolute;
      right: 0;
      bottom: 0;
      padding: $space-tiny;
      background-color: $white;
      color: $grey-dark;
      font-weight: $bold;
      font-size: $size-7;
      @include mobile() {
        left: 0;
        width: 100%;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.entry-content {
  padding-top: $space-big;
}

.card {
  @include touch() {
    margin-bottom: $space-normal;
  }
  &:hover {
    text-decoration: none !important;
  }
  &.number-card {
    display: block;
    padding: $size-3;
    border: 3px solid transparent;
    .number {
      display: block;
      margin-bottom: 1.9rem;
      color: $black;
      font-weight: $bold;
      font-size: $size-7;
    }
    @each $color-namespace, $brand-color in $brand-colors {
      @include color-classes-inherited($color-namespace, $brand-color);
    }
    &.no-link {
      border: 3px solid $gray-light;
    }
  }
  &.simple-card {
    display: block;
    padding: $size-3;
    border: 3px solid transparent;
    @each $color-namespace, $brand-color in $brand-colors {
      @include color-classes-inherited($color-namespace, $brand-color);
    }
    h3 {
      text-transform: uppercase;
      font-size: 1.5rem;
      font-weight: $bold;
    }
    p {
      margin-bottom: 0;
      color: $black;
      font-size: $size-5;
    }
    @include mobile() {
      h3 {
        font-size: 1.2rem;
      }
      p {
        font-size: .8rem;
      }
    }
  }
}