// Fonts
$body-font-size : 18px;
$family-sans-serif 	: 'Inter', sans-serif;
$bold : 700;

$size-1 : 2.8rem;
$size-2 : 2.1rem;
$size-3 : 1.6rem;
$size-4 : 1.4rem;
$size-5 : 1.1rem;
$size-6 : 1rem;
$size-7 : .7rem;

$title-size: $size-1;

$radius: 0;

// Spaces
$space-big : 3.6rem;
$space-normal : 1.6rem;
$space-small : 1.4rem;
$space-smaller : 1.1rem;
$space-tiny : 0.5rem;

// Color
$orange : #CC3A00;
$light-orange: #FFEFEB;
$green : #0D7D72;
$light-green : #E6F4F1;
$brown : #BD7800;
$yellow : #FFF2DF;
$gray-light : #DBDBDB;
$grey-dark : #353535;
$gray: #b0b0b0;
$black : #000000;

$primary : $orange;
$success : $light-green;

$link: $orange;
$title-color: $black;
$body-line-height: 1.6;


$brand-colors: (
  "orange" : $orange,
  "light-orange" : $light-orange,
  "green" : $green,
  "light-green" : $light-green,
  "brown" : $brown,
  "light-yellow" : $yellow,
);

@mixin color-classes($color-namespace, $brand-color) {
  .background-og-#{$color-namespace} {
    background-color: $brand-color;
  }
  .text-og-#{$color-namespace} {
    color: $brand-color;
  }
}
@mixin color-classes-inherited($color-namespace, $brand-color) {
  &.background-og-#{$color-namespace} {
    background-color: $brand-color;
  }
  &.text-og-#{$color-namespace} {
    &:hover {
      border: 3px solid $brand-color;
    }
    color: $brand-color;
    h3, h5 {
      color: $brand-color;
      font-weight: $bold;
      line-height: 1.4;
    }
  }
}
@each $color-namespace, $brand-color in $brand-colors {
  @include color-classes($color-namespace, $brand-color);
}

@mixin placeholder {
  &.placeholder { @content }
  &:-moz-placeholder { @content }
  &::-webkit-input-placeholder { @content }
}